@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

/* font-family: 'Montserrat', sans-serif; */
a,a:hover{text-decoration: none;color: inherit;}


.wrapper{
    width: 20%; margin: 0 auto;
}
.popup{
    font-family: 'Montserrat', sans-serif;
    display: none;
}
.popup .popup-wrapper{width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;}
.popup .popup-wrapper ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup .popup-wrapper ul li{
    font-size: 1.5em;
    width: 200px;
    text-align: center;
    margin-bottom: 1.5em;
    position: relative;
    color: #fff;
}
.popup .popup-wrapper ul li a::before{
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: -90px;
    right: -90px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: all .3s ease-out;
}
.popup .popup-wrapper ul li a:hover::before{
    border-color: #fff;
    left: 0px;
    right: 0px;
}
.popup .popup-wrapper ul li a{
    color: #fff;}
header{
width: 80%;
height: 100px;
background-color: rgba(0,0,0,0.4);
padding: 0.5em;
font-size: 3em;position: fixed;right: 100px;top: 0;
display: flex;justify-content: space-between;align-items: center;
}
header h1{color: #fff;}
header .bars{cursor: pointer;}
header .bars div{width: 30px;height: 10px;border-bottom: 2px solid#fff;margin-bottom: 1em 0;}
.contents{
    width: 100%;
    height: 100vh;
    background-image: url(../img/wolf.jpg);
    background-position: top center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contents .main{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #Fff;
    font-family: 'Montserrat', sans-serif;
    flex-wrap: wrap;
}
.contents .main div{margin-bottom: 0.25em;width: 100%;}
.contents .main .front{font-size: 3em;}
.contents .main .dev{font-size: 3em;text-align: right;}
.contents .main .name{font-size: 2em;text-align: center;}
.contents .main .btn-wrapper{margin-top: 1em;display: flex;justify-content: center;}
.contents .main .btn-wrapper a{
    display: block;
    width: 40%;height: 44px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 44px;
    font-family: 'Montserrat', sans-serif;
}
.contents .main .btn-wrapper a.more{background-color: #fff;color: black;}
.contents .main .btn-wrapper a.portfolio{margin-left: 1em;transition: all 0.3s;}
.contents .main .btn-wrapper a.portfolio:hover{background-color: #fff;color: black;}
.contents .sns{
width: 100px;
height: 30%;
position: fixed;
left: 0;
bottom: 100px;
background-color: rgba(0,0,0,0.4);
padding: 2em;
}
.contents .sns .sns-wrap{
display: flex;
flex-direction: column;
align-items: center;
opacity: 50%;
}

.contents .sns .sns-wrap .fa{font-size: 2em;
    color: #fff;
    margin-bottom: 1em;
    cursor: pointer;
}
.contents >.sns>.sns-wrap>i.fa-github:hover{opacity: 100%;}
.contents .sidebg{
    width: 100px;height: 100%;
    position: fixed;
    right: 0;
    bottom: 100px;
    background-color: rgba(0,0,0,0.4);
}
footer{
width: 100%;
height: 100px;
background-color:rgba(0,0,0,0.4);
position: fixed;bottom: 0;left: 0;
}
footer .copy{
color: #fff;
position: fixed;right: 20px;bottom: 20px;
}